@model UserSignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="~/adminpanel/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/adminpanel/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/adminpanel/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/adminpanel/css/animate.css" rel="stylesheet">
    <link href="~/adminpanel/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Kayıt Ol</h3>
            <p>Hesap Oluşturun.</p>
            <form class="m-t" role="form" asp-action="Index">

                <div class="form-group">
                    <span asp-validation-for="@Model.NameSurname" class="text-danger"></span>
                    <input type="text" class="form-control"  asp-for="@Model.NameSurname" placeholder="Ad Soyad" >
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                    <input type="email" class="form-control" asp-for="@Model.Mail" placeholder="Email">
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Kullanıcı Adı">
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifre">
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre Tekrar">
                </div>

                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Kullanım şartlarını okudum, kabul ediyorum. </label></div>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Kaydol</button>

                <p class="text-muted text-center"><small>Hesabınız yok mu?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/RegisterUser/Login/">Giriş Yap</a>
            </form>
            <p class="m-t"> <small>&copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/adminpanel/js/jquery-3.1.1.min.js"></script>
    <script src="~/adminpanel/js/popper.min.js"></script>
    <script src="~/adminpanel/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/adminpanel/js/plugins/iCheck/icheck.min.js"></script>
    <script>$(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
</body>

</html>
